body
{
   background-color: rgb(199, 213, 235);
}
.f
{
	height: 30px;
}
.s
{
	background-image: url("images/aboutback.png");
	background-size: cover;
}
.c
 {
 	padding-top:20px;
 }
/*This css file is for all files except the index file*/